.bgHome{
}
body{
    background-image: url(../images/air2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.menuOptions{
    align-items: center;
}

.container-fluid.d-flex.flex-column {
    background-color: #272323c2;
}

.btn-sq-lg {
    width: 200px !important;
    height: 200px !important;
    margin-top: 25px;
    padding-top: 40px;
}
.btn-primary {
    border-radius: 30px;
    color: #fff;
    background-color: #4e1f14;
    border-color: #54261bc9;
}
.btn-primary:hover {
    color: #fff;
    background-color: #5b3228;
    border-color: #5b3228bd;
}

.titleHome{
    text-align: end;
    margin-right: 50px;
    margin-top: 50px;
}