.bgHome {}

body {
    background-image: url(../images/air3.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.menuOptions {
    align-items: center;
}

.container-fluid.d-flex.flex-column {
    background-color: #272323c2;
}

.btn-sq-lg {
    width: 200px !important;
    height: 200px !important;
    margin-top: 25px;
    padding-top: 40px;
}

.btn-primary {
    border-radius: 30px;
    color: #fff;
    background-color: #232954;
    border-color: #232954c9;
}

.btn-primary:hover {
    color: #fff;
    background-color: #5060A9;
    border-color: #5060A9bd;
}

.titleHome {
    text-align: end;
    margin-right: 50px;
    margin-top: 50px;
}

@media (max-width: 768px) {
    .col-md-6.col-sm-12 {
        text-align: center;
    }

    .container-fluid.d-flex.flex-column {
        height: 131vh !important;
        background-color: #272323c2;
    }

    body {
        background-image: url(../images/air3.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: auto;
    }

    .imgLogoHome {
        align-self: auto;
        margin-top: 0px;
        padding-left: 129px !important;
    }



}


.imgLogo {
    height: 6vh;
}


@media (min-width: 769px) {
    .imgLogoHome {
        align-self: flex-end;
        margin-top: -42px;
        padding-left: 129px !important;
    }
}
